.left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(77, 74, 74);
  }
  
  .l {
    float: left;
  }
  
  .l .a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .l .a:hover:not(.title) {
    background-color: #111;
    transition: 1.5s;
  }
  .title{
      background-color: white;
  }
  .li .title{display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }